$primary-color: #464d57;
$secondary-color: #2b2a32;

$cta: (
  font-size: 18,
  primary-background: #17b289,
  primary-border-color: #17b289,
  primary-color: #ffffff,
  secondary-background: transparent,
  secondary-border-color: #b7b7b7,
  secondary-color: #84838e,
  border-width: 1,
  padding: 10 30
);

$hr-color: #26b791;