
// COLORS
// ----------------------------

$background-color: #132227;

$primary-color: #ffffff;
//$primary-color: #464d57;
$secondary-color: #2b2a32;


// COMMON ELEMENTS
// ----------------------------

$p: (
  font-size: 14,
  line-height: 1.6
);

$hr: (
  width: 110,
  height: 2,
  color: #17a882,
  margin: 50 0
);

$cm-logo: (
  width: 300,
  height: 63,
  offset-y: 70
);

// HEADINGS
// ----------------------------

$headline: (
  font-size: 55
);


// CTAS
// ----------------------------

$cta: (
  font-size: 14,
  primary-background: #17b289,
  primary-border-color: #17b289,
  primary-color: #ffffff,
  secondary-background: transparent,
  secondary-border-color: #233e47,
  secondary-color: #ffffff,
  hover-background: #fff,
  hover-color: #84838e,
  hover-border-color: #fff,
  border-width: 2,
  letter-spacing: 2.5,
  line-height: 1.25,
  padding: 12 60,
  margin: 8 0,
  icn-offset-x: 20
);


// MARGINS
// ----------------------------
$margins: (
  small: 10,
  medium: 25,
  large: 50
);
