@import 'mixins';
@import 'fonts';
@import 'settings';

html, body {
  height: 100%;
}

body {
  background: $background-color;
  color: $primary-color;
  @include font-libre-baskerville();
  margin: 0;
}


// COMMON ELEMENTS
// ----------------------------

hr {
  width: rem-calc(map-get($hr, width));
  height: rem-calc(map-get($hr, height));
  background: map-get($hr, color);
  border: none;
  display: block;
}


// HEADINGS
// ----------------------------

h1, h2, h3, h4, h5, h6 {
  @include font-libre-baskerville();
}

.headline {

}

.tagline {
  @include font-libre-baskerville-italic();
}



// BUTTONS
// ----------------------------

a.button {
  background: map-get($cta, primary-background);
  border-width: rem-calc(map-get($cta, border-width));
  border-color: map-get($cta, primary-border-color);
  border-radius: 100px;
  border-style: solid;
  color: map-get($cta, primary-color);
  cursor: pointer;
  @include font-montserrat();
  @include font-size(map-get($cta, font-size));
  display: inline-block;
  letter-spacing: rem-calc(map-get($cta, letter-spacing));
  line-height: map-get($cta, line-height);
  padding: rem-calc(map-get($cta, padding));
  text-decoration: none;
  text-transform: uppercase;
  @include transition(background .3s ease-out, color .3s ease-out);

  &:hover {
    //background: black;
    //color: pink;
  }

  &.alt,
  &.back {
    background: map-get($cta, secondary-background);
    border-color: map-get($cta, secondary-border-color);
    color: map-get($cta, secondary-color);

    &:hover {

    }
  }
}


// LAYOUT
// ----------------------------

#view {
  height: 100%;
  @include flexDisplay();

  .page-wrapper {
    width: 100%;
    height: 100%;
    @include flexDisplay();

    .section-row,
    .section-column {
      position: relative;

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }
    }

    .section-row {
      @include flexDisplay();
      @include flexDirection();
      @include flexGrow(1);
    }

    .section-column {
      @include flexDisplay();
      @include flexDirection(column);
      @include flexGrow(1);
    }
  }
}


// SECTIONS
// ----------------------------

#introduction {
  .headline {

  }
}

#build {
  #scott-machine {
    width: 100%;
    @include flexDisplay();
    @include flexDirection(column);
    font-size: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    canvas {
      width: 100%;
      height: 100%;
      display: block;
    }


    .slot {
      @include flexDisplay();
      @include flexDirection();
      @include flexGrow(1);



      &.slot-1 { height: 27.26%; }
      &.slot-2 { height: 18.63%; }
      &.slot-3 { height: 12.47%; }
      &.slot-4 { height: 14.79%; }
      &.slot-5 { height: 27.40%; }
    }
  }
}
